google==3.0.0
imageio==2.9.0
ipython==7.16.1
jupyter==1.0.0
Keras==2.2.4
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.5
packaging==20.9
pandas==1.1.5
protobuf==3.15.8
scikit-learn==0.24.1
scipy==1.5.4
sentencepiece==0.1.94
tokenizers==0.9.4
torch==1.5.1
torchvision==0.6.1
transformers==4.0.1
